/* ===== Modo claro ===== */
:root {
  --ifm-color-primary: #31ff70;       /* verde principal */
  --ifm-color-primary-dark: #28cc5c;
  --ifm-color-primary-darker: #20a049;
  --ifm-color-primary-darkest: #187636;
  --ifm-color-primary-light: #4cff85;
  --ifm-color-primary-lighter: #6cff9e;
  --ifm-color-primary-lightest: #8cffb7;

  --ifm-color-background: #ffffff;    /* fondo blanco */
  --ifm-color-navbar-background: #17173a; /* azul navbar */
  --ifm-color-footer-background: #17173a; /* azul footer */
  --ifm-color-link: #31ff70;          /* links verdes */
  --ifm-color-link-hover: #28cc5c;    /* hover de links */
}

/* ===== Modo oscuro ===== */
[data-theme='dark'] {
  --ifm-color-primary: #31ff70;       /* verde principal también en oscuro */
  --ifm-color-primary-dark: #28cc5c;
  --ifm-color-primary-darker: #20a049;
  --ifm-color-primary-darkest: #187636;
  --ifm-color-primary-light: #4cff85;
  --ifm-color-primary-lighter: #6cff9e;
  --ifm-color-primary-lightest: #8cffb7;

  --ifm-color-background: #17173a;    /* fondo oscuro */
  --ifm-color-navbar-background: #17173a; /* azul navbar oscuro */
  --ifm-color-footer-background: #17173a; /* azul footer oscuro */
  --ifm-color-link: #31ff70;          /* links verdes */
  --ifm-color-link-hover: #28cc5c;    /* hover de links */
}